<DOCTYPE !HTML>
<head>

  
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
  <script src="app.js" type="text/javascript"></script>
  <script src="maincontroller.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="tips.css">
  <title>QuickTips</title>
</head>
<html>
<body>
  <div id='wrapper' ng-app='QuickTips' ng-controller='MainController'>

    <div id='header'>
      <h1>QuickTips</h1>
    </div>

    <form action='#' method='get' id='bill'>
      Bill w/o Tip:  $ <input class='total' type='text' name='total' ng-model='billWithoutTip'><br/>
      % Tip: <input type="text" ng-model='tipPercentage'><br/>
    </form>

    <div id='bill-with-tip'>
      <p>Tip is: ${{calculateTip(billWithoutTip, tip(tipPercentage))}}</p>
      <p>Total: ${{calculateBillWithTip(billWithoutTip, tip(tipPercentage))}}</p>
    </div>
  </div>
</body>
</html>