body {
  text-align: center;
  font-size: 28px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header {
  background: #CC0000;
  margin: -40px -8px 100px -8px;
  padding: 8px 0 8px 0;
}

h1 {
  margin-bottom: 0;
}

form {
  width: 204px;
  margin: 0 auto;
  text-align: right;
}

input {
  width: 30px;
}
