body {
  text-align: center;
  background: url('img/02.png'), #eee;
  color: #333;
  text-shadow: white 1px 1px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  margin: 1.5em;
  font-size: 2.5em;
}

a, .button {
  text-decoration: none;
  border-radius: 8px;
  text-shadow: none;
  color: white;
  background-color: gray;
}

#selection a {
  font-size: 2em;
}

.hidden {
  display: none;
}

div#selection {
  width: 65%;
  margin: 20px auto 0;
}

#selection a, .button {
  margin-bottom: 1.2em;
  padding: 0.7em;
}

#selection a:hover, .button:hover, #choices a:hover {
  background-color: #C3D7E0;
}

#range a {
  float: left;
}

#impression a {
  float: right;
}

#slider {
  margin: 1em;
}

input[type=text] {
  height: 0.5em;
  font-size: 0.8em;
}

input[type=range] {
  width: 30%;
}

input.total {
  padding: 1em;
  position: relative;
  top: -5px;
}

form#bill {
  font-size: 2em;
  clear: both;
}

#choices a {
  padding: 0.4em;
  display: block;
  margin: 1em auto;
  width: 20%;
  min-width: 250px;
}

.button {
  border: none;
  margin-top: 1em;
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#bill-with-tip {
  font-size: 2em;
}

@media screen and (max-width: 1120px) {

#selection #range a {
  float: none;
}

#selection #impression a {
  float: none;
}

#selection div {
  margin: 5em auto;
}

input[type=range] {
  width: 80%;
}

}

/*@media screen and (max-width: )*/
